header .header-1 {
  background: var(--white);
  padding: 1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-1 .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

header .header-1 .logo i {
  color: var(--color);
}

header .header-1 .search-form {
  width: 50rem;
  height: 5rem;
  border: var(--border);
  overflow: hidden;
  background: var(--white);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

header .header-1 .search-form input {
  font-size: 1.6rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  color: var(--black);
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  background: url(/img/close.png);
  background-size: contain;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.5;
  pointer-events: all;
}

input[type="search"]::-webkit-search-cancel-button:hover {
  opacity: 1;
}

header .header-1 .search-form label {
  cursor: pointer;
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color: var(--black);
}

header .header-1 .search-form label:hover {
  color: var(--color);
}

header .header-1 .icons div,
header .header-1 .icons a {
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: var(--black);
}

header .header-1 .icons div:hover,
header .header-1 .icons a:hover {
  color: var(--color);
}

#search-btn {
  display: none;
}

header .header-2 {
  background: var(--color);
}

header .header-2 .navbar {
  text-align: center;
}

header .header-2 .navbar a {
  color: var(--white);
  display: inline-block;
  padding: 1.2rem;
  font-size: 1.7rem;
}

header .header-2 .navbar a:hover {
  background: var(--dark-color);
}

header .header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.bottom-navbar {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  text-align: center;
  background: var(--color);
}

.bottom-navbar a {
  font-size: 2.5rem;
  padding: 2rem;
  color: var(--white);
}

.bottom-navbar a:hover {
  background: var(--dark-color);
}

@media (max-width: 1150px) {
  header .header-1 {
    padding: 2rem;
  }
}

@media (max-width: 880px) {
  header .header-1 {
    position: relative;
    box-shadow: var(--box-shadow);
  }

  header .header-1 .search-form {
    position: absolute;
    top: -115%;
    right: 2rem;
    width: 90%;
    box-shadow: var(--box-shadow);
  }

  header .header-1 .search-form.active {
    top: 115%;
  }

  header .header-2 {
    display: none;
  }

  #search-btn {
    display: inline-block;
  }

  .bottom-navbar {
    display: block;
  }
}
