.reviews .reviews-slider .box {
  width: 30rem;
  border: var(--border);
  padding: 2rem;
  text-align: center;
  height: auto;
  margin: 2rem 0;
}

.reviews .reviews-slider .box:hover {
  border: var(--border-hover);
}

.reviews .reviews-slider .box img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.reviews .reviews-slider .box h3 {
  color: var(--black);
  font-size: 2.2rem;
  padding: 0.5rem 0;
}

.reviews .reviews-slider .box p {
  color: var(--light-black);
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2;
  margin-bottom: 2rem;
  font-style: italic;
}

.reviews .reviews-slider .box .stars {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  bottom: 1rem;
}

.reviews .reviews-slider .box .stars i {
  font-size: 1.7rem;
  color: var(--color);
}